<!-- Button trigger modal -->
<div align='center'>
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        Contact Us
    </button>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Contact Form</h4>
            </div>
            
            <form id='contact-us-form' action="-contact-us" role="form">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="text">Your Name:</label>
                        <input type="text" class="form-control" id="name">
                    </div>

                    <div class="form-group">
                        <label for="email">Your Email address:</label>
                        <input type="email" class="form-control" id="email">
                    </div>

                    <div class="form-group">
                        <label for="text">Message:</label>
                        <textarea type="text" class="form-control" id="message" cols="40" rows="5"></textarea>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class='align-center'>
                        <label id='model-notification' align='center'> We will send you email. </label>
                        <div class="vspace-small"></div>
                    </div>
                    
                    <div class='align-center'>
                        <div class="btn-group btn-group-justified">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            </div>
                            <div class="btn-group">
                                <button type="submit" class="btn btn-primary">Send</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

<script>

$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

$(function(){
    $('#contact-us-form').on('submit', function(e){
        e.preventDefault();

        $.ajax({
            url: $SCRIPT_ROOT + '/-contact-us', //this is the submit URL
            type: 'GET', //or POST
            //data: $('#contact-us-form').serialize(),
            data: { name: $('input#name').val(), 
                    email: $('input#email').val(),
                    message: $('textarea#message').val() },
            success: function(data){
                $('label#model-notification').html('Thanks for your interest. We will come back to you soon.');
            },
            error: function(data){
                $('label#model-notification').html('Opps, something is wrong with the server. Please try again.');
            }
        });
        
        setTimeout(function() { $('#myModal').modal('hide'); }, 3000);
    });
});
</script>