<script type="text/javascript">
    //$( "p" ).addClass( "lead" ); // make <p> look nicer
    //$( "table" ).addClass( "table table-striped table-bordered" ); // make <table> look nicer
    $( "section" ).children().css( "font-size", "1.3em" );
</script>

<div class="vspace-small"></div>

<div class='row foot-frame'>
	<div class='row' align='center'>
		<div class="col-md-4" align="center"></div>
		<div class="col-md-4" align="center">
			<a href="https://www.facebook.com/xubo2005"><i class="fa fa-facebook-square fa-2x"></i></a>
			<span class="hspace-small"></span>
			<a href="https://twitter.com/DMjessie"><i class="fa fa-twitter-square fa-2x"></i></a>
			<span class="hspace-small"></span>
			<a href="http://instagram.com/xu_bo_singapore"><i class="fa fa-instagram fa-2x"></i></a>
			<span class="hspace-small"></span>
			<a href="http://www.pinterest.com/jiongd/"><i class="fa fa-pinterest fa-2x"></i></a>
		</div>
		<div class="col-md-4" align="center"></div>
	</div>

	<div class="row" align='center'>
		<!-- left part -->
		<div class="col-md-3" align="center">
		</div>
		
		<!-- center part -->
		<div class="col-md-6" align="center">
			<i class="glyphicon glyphicon-envelope"></i>
			<a href="mailto:sweden@xubo.org">sweden@xubo.org</a>
		</div>

		<!-- right part -->
		<div class="col-md-3" align="center"></div>
	</div>

	<div class='row' align='center'>2014 <i class="fa fa-copyright"></i> Albat Journey</div>
</div>

