<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{ page_title }}</title>

<!-- jQuery -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- jQuery form plugin -->
<script src="http://malsup.github.com/jquery.form.js"></script> 

<!-- Bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"></link>

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>

<style> 

body { 
    font-family: 'Open Sans', Serif;
    padding-top: 50px;
}

.hpadded-large {
  padding-left: 25px;
  padding-right: 25px;
}

.vpadded-small {
  padding-top: 5px;
  padding-bottom: 5px;
}

.vpadded-middle {
  padding-top: 15px;
  padding-bottom: 15px;
}

.vpadded-large {
  padding-top: 20px;
  padding-bottom: 20px;
}

div.vspace-small {
  padding-top: 10px;
  padding-bottom: 10px;
}

span.hspace-small {
	padding-left: 5px;
	padding-right: 5px
}

.vcenter {
    vertical-align: middle;
}

span.nav-bar-font {
  font-size: 1.3em;
}

.foot-frame {
  padding: 20px;
  background-color: #eee;
}

section h3 {
  font-weight: bold;
  text-transform: capitalize;
}

.align-center {
  text-align: center;
}

.border-all {
  border: 1px solid #eee;
}

.border-bottom {
    border-bottom: 2px solid #ccc;
}

.border-left {
    border-left: 1px solid #ccc;
}

.col-align-bottom {
    float: none;
    display: table-cell !important;
    vertical-align: bottom;
}

.col-align-middle {
    float: none;
    display: table-cell !important;
    vertical-align: middle;
}

.button-fix-width {
  width: 150px;  
}

.thumbnail {
    border: 0 none;
    box-shadow: none;
}

</style>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->