<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    {% include "common/head.html" %}
</head>

<body>

{% block page_carousel_content %}
{% endblock %}

<div class="vspace-small"></div>
<div class="vspace-small"></div>
<div class="container">

{% include "common/nav_bar.html" %}
<div class="row">
{% block page_middle_content %}
{% endblock %}
</div>

<div class="row">
	{% include "common/foot.html" %}
</div>
</div>

</body>
</html>