<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    {% include "common/head.html" %}
</head>

<body>

{% block page_carousel_content %}
{% endblock %}

<div class="vspace-small"></div>
<div class="vspace-small"></div>
<div class="container">

{% include "common/nav_bar.html" %}

<div class="row">
	{% block page_left_content %}
	{% endblock %}

	<div class="col-md-8 hpadded-large">
		<div class="row">
			<ol class="breadcrumb">
				{% for nav_position in page_info.nav_depth %}
				{% if nav_position=='' %}
				<li class="active"> {{ page_info.title }} </li>
				{% elif nav_position == 'home' %}
				<i class="fa fa-home"></i>
				<li><a href="{{url_for(nav_position)}}">{{nav_position.capitalize()}}</a></li>
				{% else %}
				<li><a href="{{url_for(nav_position)}}">{{nav_position.capitalize()}}</a></li>
				{% endif %}
				{% endfor %}
			</ol>
		</div>
	{% block page_middle_content %}
	{% endblock %}
		<div class="row">
			<ol class="breadcrumb">
				{% for nav_position in page_info.nav_depth %}
				{% if nav_position=='' %}
				<li class="active"> {{ page_info.title }} </li>
				{% elif nav_position == 'home' %}
				<i class="fa fa-home"></i>
				<li><a href="{{url_for(nav_position)}}">{{nav_position.capitalize()}}</a></li>
				{% else %}
				<li><a href="{{url_for(nav_position)}}">{{nav_position.capitalize()}}</a></li>
				{% endif %}
				{% endfor %}
			</ol>
		</div>
	</div>

	<div class="col-md-4">
	{% block page_right_content %}
	{% endblock %}

	<!-- Contact Button Modal -->
    {% include "common/contact-us-form.html" %}
		
	</div>
</div>

<div class="row">
	{% include "common/foot.html" %}
</div>
</div>

</body>
</html>