<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<div class="navbar-wrapper">
    <div class="container">
        <nav class="navbar  navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="{{ url_for('home') }}"> 
                                <img alt="Brand" src="{{ url_for('static', filename='xubo-logo-small.png') }}"/>
                            </a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="{{url_for('home')}}"><span class='nav-bar-font'>Home</span></a></li>
                                <li><a href="{{url_for('programs')}}"><span class='nav-bar-font'>Programs</span></a></li>
                                <li><a href="{{url_for('destinations')}}"><span class='nav-bar-font'>Destinations</span></a></li>
                                <li><a href="{{url_for('stories')}}"><span class='nav-bar-font'>Stories</span></a></li>
                                <li><a href="{{url_for('about_us')}}"><span class='nav-bar-font'>About Us</span></a></li>

                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div><!-- /.container-fluid -->
        </nav>
    </div>
</div>