{% extends "./common/level-2-page-template.html" %}

{% block page_carousel_content %}
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" align="center">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        {% set counter = 0 %}
        {% for picture_path in picture_path_list %}
            {% if counter == 0 %}
                <li data-target="#carousel-example-generic" data-slide-to="{{counter}}" class="active"></li>
            {% else %}
                <li data-target="#carousel-example-generic" data-slide-to="{{counter}}"></li>
            {% endif %}
        {% set counter = counter + 1 %}
        {% endfor %}
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        {% set counter = 0 %}
        {% for picture_path in picture_path_list %}
            {% if counter == 0 %}
                <div class="item active">
                    <img src="{{ picture_path }}" alt="...">   
                </div>
            {% else %}
                <div class="item">
                    <img src="{{ picture_path }}" alt="...">   
                </div>
            {% endif %}
        {% set counter = counter + 1 %}
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block page_left_content %}
{% endblock %}


{% block page_middle_content %}
<div class="row hidden-xs hidden-sm">
    {% for country, city in city_group_by_country.items() %}
    <div class="col-md-3">
        <div class="thumbnail">
            <img class='img-responsive' src='{{ country_thumbnail_public_ids[country] }}' alt="...">
            <div class="caption">
                <a href="#{{country}}"><h3>{{country.capitalize()}}</h3></a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% for country, cities in city_group_by_country.items() %} <!-- Start of city list -->
<div class="vspace-small"  id="{{country}}"></div>
<div class="vspace-small"></div>

<div class="row border-bottom" >
    <div class="col-md-3">
        <h1>{{country.capitalize()}}</h1>
    </div>
    <div class="col-md-9 vpadded-large hidden-xs hidden-sm">
        <div class="row ">
            <div class="col-md-3 border-left"><div>Population:</div> {{country_meta[country].population}}</div>
            <div class="col-md-3 border-left"><div>Language:</div> {{country_meta[country].language}}</div>
            <div class="col-md-3 border-left"><div>Currency:</div> {{country_meta[country].currency}}</div>
            <div class="col-md-3 border-left"><div>Time Zone:</div> {{country_meta[country].time_zone}}</div>
        </div>
    </div>
</div>

<div class="row">
    
    <div class="col-md-12">
        <div class="row">
            {% for city in cities %} <!-- Start of city list -->
            <div class="col-md-6 vpadded-small">
                <div class="media">
                    <a class="pull-left" href="#">
                    <img src="{{ city_thumbnail_public_ids[city] }}"></img>
                    </a>
                    <div class="media-body">
                        <h4 class="media-headding">{{city.capitalize()}}</h4>
                        <p> {{ ' '.join(city_description[city].split()[0:25]) }}... <span> <a href="{{ url_for('show_destination', destination_URI = city_URI_dictioinary[city])}}"> read more</a> </span></p>
                    </div>
                </div>
            </div>
            {% endfor %} 
        </div>
    </div>
</div>
{% endfor %} <!-- End of City list part -->

{% endblock %}

{% block page_right_content %}
{% endblock %}
