{% extends "./common/level-2-page-template.html" %}

{% block page_left_content %}
{% endblock %}

{% block page_middle_content %}
<div><h2>English Teaching Program</h2></div>
<div class="row">
    <div class="col-md-8">
        <p> Modern China offers immense cultural exchange opportunities for volunteers and students alike. It has long been the object of fascination to Westerners, being one of the worlds oldest civilizations. Four of mankind's greatest inventions are credited to China: the abacus, paper, the compass and gun powder. Despite its rapid emergence as one of the world's  Modern Oriental Pearl Tower, Shanghai Ancient Shaolin Temple, ZhengZhou most modern countries, it has never lost its unique cultural ideas and perspectives. Volunteering in China offers the opportunity to more fully understand and appreciate these uniquely Chinese characteristics. China's economic boom of the past twenty years has greatly increased the need for foreign language skills. In particular, the demand for English teachers has sky rocketed. And while the booming economy has greatly improved the standard of living for millions of Chinese, there are many more millions of people living below international poverty levels.Chinese educational institutions have many long-standing traditions that make teaching here very special. Teachers are treated with great respect in Chinese society and are admired by all. Students in China are respectful, hungry for knowledge, and willing to work very hard. They are also fun-loving, happy and fascinated with Westerners. You will find teaching them a great pleasure. There is probably no better way to learn about Chinese culture than by teaching. </p>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-4 col-sm-2 col-xs-4">
                <a href="/destinations/china-shanghai">
                    <div class="thumbnail">
                        <img class='img-rounded img-responsive' src="http://res.cloudinary.com/xubo-sweden/image/upload/c_thumb,h_108,w_144/v1/site-static/cities/china-shanghai/shanghai-thumb-1280x960_afpk2x.jpg" alt="...">
                        <div align="center">
                            <p>Shanghai</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-2 col-xs-4">
                <a href="/destinations/china-shanghai">
                    <div class="thumbnail">
                        <img class='img-rounded img-responsive' src="http://res.cloudinary.com/xubo-sweden/image/upload/c_thumb,h_108,w_144/v1/site-static/cities/china-shanghai/shanghai-thumb-1280x960_afpk2x.jpg" alt="...">
                        <div align="center">
                            <p>Shanghai</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-2 col-xs-4">
                <a href="/destinations/china-shanghai">
                    <div class="thumbnail">
                        <img class='img-rounded img-responsive' src="http://res.cloudinary.com/xubo-sweden/image/upload/c_thumb,h_108,w_144/v1/site-static/cities/china-shanghai/shanghai-thumb-1280x960_afpk2x.jpg" alt="...">
                        <div align="center">
                            <p>Shanghai</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-2 col-xs-4">
                <a href="/destinations/china-shanghai">
                    <div class="thumbnail">
                        <img class='img-rounded img-responsive' src="http://res.cloudinary.com/xubo-sweden/image/upload/c_thumb,h_108,w_144/v1/site-static/cities/china-shanghai/shanghai-thumb-1280x960_afpk2x.jpg" alt="...">
                        <div align="center">
                            <p>Shanghai</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-2 col-xs-4">
                <a href="/destinations/china-shanghai">
                    <div class="thumbnail">
                        <img class='img-rounded img-responsive' src="http://res.cloudinary.com/xubo-sweden/image/upload/c_thumb,h_108,w_144/v1/site-static/cities/china-shanghai/shanghai-thumb-1280x960_afpk2x.jpg" alt="...">
                        <div align="center">
                            <p>Shanghai</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="vspace-small"></div>

<div class="row">
    <div class="col-md-8">
        <h2 class="media-headding">Child Care Program</h2>
        <p> The CereCare Wellness Centre for Children in Shanghai is a facility specializing in the care and education of children suffering from Cerebral Palsy. CP is a condition caused by a brain injury that occurs before or shortly after birth. Because physical development is impaired a child with Cerebral Palsy has trouble controlling the muscles of the body. Depending on what part of the brain is affected, a child might not be able to walk, talk, eat, or interact in the way most kids do. As a Xu Bo volunteer at the Centre, one can help take care of and play with the children, help with the children's personal development and hygiene education. Volunteers may also help the staff design the curriculum and/or help with the center's website by updating information and/or writing reports and articles for it. Volunteers with training in nursing or medicine may also be able to help with the children's treatment plans. This is a truly a worthwhile and rewarding project to take part in as a volunteer. Our work and travel program is available in the following countries and cities. </p>
    </div>
    <div class="col-md-4">
    </div>
</div>
<div class="vspace-small"></div>

<div class="row">
    <div class="col-md-8">
        <h2 class="media-headding">Internship Program</h2>
        <p> We are currently in the process of liaising with some of the leading international companies in Shanghai. We are hoping to be able to place students coming out of their university courses in applicable internship placements. The companies with whom we are setting up these internship at this stage are hotels, architecture and design companies, and Public Relations companies. However, once these relationships are established we will be extending the program to other kinds of companies and if volunteers have a particular interest we will contact appropriate companies as needed. Our internship program is available in the following countries and cities. </p>
    </div>
    <div class="col-md-4">
    </div>
</div>

	{% for program in programs.find() %}
	    <li>
	    	<a href="{{ url_for('show_program', program_URI = program.program_URI )}}">
	    		{{ program.name }} in {{ program.city_region.capitalize() }}
	    	</a>
	    </li>
	{% endfor %}
{% endblock %}

{% block page_right_content %}
{% endblock %}

