{% extends "./common/level-3-page-template.html" %}

{% block page_carousel_content %}
<div class='row'>
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" align="center">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            {% set counter = 0 %}
            {% for picture_path in picture_path_list %}
            {% if counter == 0 %}
            <li data-target="#carousel-example-generic" data-slide-to="{{counter}}" class="active"></li>
            {% else %}
            <li data-target="#carousel-example-generic" data-slide-to="{{counter}}"></li>
            {% endif %}
            {% set counter = counter + 1 %}
            {% endfor %}
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            {% set counter = 0 %}
            {% for picture_path in gallery_path_list %}
            {% if counter == 0 %}
            <div class="item active">
                <img src="{{ picture_path }}" alt="...">   
            </div>
            {% else %}
            <div class="item">
                <img src="{{ picture_path }}" alt="...">   
            </div>
            {% endif %}
            {% set counter = counter + 1 %}
            {% endfor %}
        </div>

        <!-- Controls
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
        -->
    </div>
</div>
{% endblock %}

{% block page_left_content %}
{% endblock %}

{% block page_middle_content %}
<div class="row">
    <div class="media">
        <a class="pull-left" href="#">
            <img class="media-object img-circle" src="{{this_story_info.thumb_path}}" alt="thumb">
        </a>
        <div class="media-body">
            <h2 class="media-heading">{{ this_story_info.story_name }}</h2>
            <h3 class="media-heading">in {{ this_story_info.visit_city.capitalize() }}, {{ this_story_info.visit_country.capitalize() }}</h3>
            <h5>
                by {{ this_story_info.participant_name.capitalize() }} <small> from {{ this_story_info.participant_country.capitalize() }} </small>
            </h5>
        </div>
    </div>
    <div class="vspace-small"></div>
    <section>{{ this_story_info.story_text }}</section>
</div>

{% endblock %}

{% block page_right_content %}
<ul class="media-list">
    <li class="list-group-item list-group-item-info">Other stories</li>
    {% for one_participant in related_participant_info_list %}
    <li class="media">
        <a class="pull-left" href="#">
        <img class="media-object img-circle" src="{{ one_participant.thumb_100_path }}" alt="thumb-small">
        </a>
        <div class="media-body">
            <a href=" {{ url_for('show_story', participant_URI = one_participant.participant_URI )}} " >
            <h4 class="media-heading">
                {{ one_participant.name.capitalize() }} from {{ one_participant.country.capitalize() }}
            </h4>
            volunteer in {{ one_participant.stories[0].visit_city.capitalize() }}
            </a>
        </div>
    </li>
    {% endfor %}
    <li class="media"> <div class="media-body">More people from the same program </div></li>
    <li class="media"> <div class="media-body">More people visit the same city </div></li>
</ul>

<div class="vspace-small"></div>
<div class="vspace-small"></div>

<ul class="list-group">
    <li class="list-group-item list-group-item-info">Related programs</li>
    {% for program in related_program_info_list %}
    <li class="list-group-item">
            <a href="{{ url_for('show_program', program_URI = program.program_URI ) }}">
                <div> {{ program.name.capitalize() }} in {{ program.city_region.capitalize()  }}, {{ program.country.capitalize()  }} </div>
            </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
