{% extends "./common/level-3-page-template.html" %}

{% block page_carousel_content %}
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" align="center">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        {% set counter = 0 %}
        {% for picture_path in picture_path_list %}
        {% if counter == 0 %}
        <li data-target="#carousel-example-generic" data-slide-to="{{counter}}" class="active"></li>
        {% else %}
        <li data-target="#carousel-example-generic" data-slide-to="{{counter}}"></li>
        {% endif %}
        {% set counter = counter + 1 %}
        {% endfor %}
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        {% set counter = 0 %}
        {% for picture_path in picture_path_list %}
        {% if counter == 0 %}
        <div class="item active">
            <img src="{{ picture_path }}" alt="...">   
        </div>
        {% else %}
        <div class="item">
            <img src="{{ picture_path }}" alt="...">   
        </div>
        {% endif %}
        {% set counter = counter + 1 %}
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block page_left_content %}
{% endblock %}

{% block page_middle_content %}
<div class="row">
    <div class="media">
        <div class="media-body">
            <h2 class="media-heading">{{ this_destination_info.name.capitalize() }}, {{ this_destination_info.country.capitalize() }} </h2>
            <h5>
                <a href="{{this_destination_info.wiki}}" target="_blank">Wikipedia Link</a>
            </h5>
        </div>
    </div>

    <div class="vspace-small"></div>
    <section>{{ this_destination_info.description }}</section>
</div>
{% endblock %}

{% block page_right_content %}
<ul class="media-list">
    <li class="list-group-item list-group-item-info">Those who visited {{this_destination_info.name.capitalize()}}, {{ this_destination_info.country.capitalize()}}</li>
    {% for one_participant in related_participant_info_list %}
    <li class="media">
        <a class="pull-left" href="#">
        <img class="media-object img-circle" src="{{one_participant.thumb_100_path }}" alt="thumb-small">
        </a>
        <div class="media-body">
            <a href=" {{ url_for('show_story', participant_URI = one_participant.participant_URI )}} " >
            <h4 class="media-heading">
                {{ one_participant.name.capitalize() }} from {{ one_participant.country.capitalize() }}
            </h4>
            volunteer in {{ one_participant.stories[0].visit_city.capitalize() }}
            </a>
        </div>
    </li>
    {% endfor %}
    <li class="media"> <div class="media-body">More people visiting the same city </div></li>
</ul>

<div class="vspace-small"></div>
<div class="vspace-small"></div>

<ul class="list-group">
    <li class="list-group-item list-group-item-info">Programs available in {{ this_destination_info.name.capitalize() }}, {{ this_destination_info.country.capitalize() }}</li>
    {% for program in related_program_info_list %}
    <li class="list-group-item">
            <a href="{{ url_for('show_program', program_URI = program.program_URI ) }}">
                <div> {{ program.name.capitalize() }}  </div>
            </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
