<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    {% include "common/head.html" %}
    <title>Xubo Swden Contact Form</title>
</head>

<body>

<div class="vspace-small"></div>
<div class="vspace-small"></div>
<div class="container">
<div class="row">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	                <h4 class="modal-title" id="myModalLabel">Contact Form</h4>
	            </div>
	            
	            <form id='contact-us-form' action="-contact-us" role="form">
	                <div class="modal-body">
	                    <div class="form-group">
	                        <label for="text">Your Name:</label>
	                        <input type="text" class="form-control" id="name">
	                    </div>

	                    <div class="form-group">
	                        <label for="email">Your Email address:</label>
	                        <input type="email" class="form-control" id="email">
	                    </div>

	                    <div class="form-group">
	                        <label for="text">Message:</label>
	                        <textarea type="text" class="form-control" id="message" cols="40" rows="5"></textarea>
	                    </div>
	                </div>

	                <div class="modal-footer">
	                    <div class='align-center'>
	                        <label id='model-notification' align='center'> A confirmation email will be sent to your mailbox after we receive your message. </label>
	                        <div class="vspace-small"></div>
	                    </div>
	                    
	                    <div class='align-center'>
	                        <div class="btn-group btn-group-justified">
	                            <div class="btn-group">
	                                <a class="btn btn-default" href="http://sweden.xubo.org/#contact">Back to Website</a>
	                            </div>
	                            <div class="btn-group">
	                                <button type="submit" class="btn btn-primary">Send</button>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </form>

	        </div>
	    </div>

	<script>

	$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

	$(function(){
	    $('#contact-us-form').on('submit', function(e){
	        e.preventDefault();

	        $.ajax({
	            url: $SCRIPT_ROOT + '/-contact-us', //this is the submit URL
	            type: 'GET', //or POST
	            //data: $('#contact-us-form').serialize(),
	            data: { name: $('input#name').val(), 
	                    email: $('input#email').val(),
	                    message: $('textarea#message').val() },
	            success: function(data){
	                $('label#model-notification').html('Thanks for your interest. We will come back to you soon.');
	            },
	            error: function(data){
	                $('label#model-notification').html('Opps, something is wrong with the server. Please try again.');
	            }
	        });
	        
	        setTimeout(function() { $('#myModal').modal('hide'); }, 3000);
	    });
	});
	</script>
</div>


</div>


</body>
</html>