{% extends "./common/level-2-page-template.html" %}

{% block page_left_content %}
{% endblock %}

{% block page_middle_content %}
    <div class="row" align="center">
        <h1>“Not all those who wander are lost."</h1>
        <h4> -- J.R.R. Tolkien</h4>
        <p>&nbsp;</p>
    </div>

    <div class="row"> 
        {% for participant in participants %}
        <div class="col-md-6 vpadded-middle">
            <div class="media">
                <a class='pull-left' href="{{ url_for('show_story', participant_URI = participant.participant_URI )}}"> <img class='img-circle img-responsive' src="{{ participant.thumb_100_path }}"></img> </a>
                <div class="media-body">
                    <h3 class="media-heading">{{ participant.name.capitalize() }}, <small>from {{ participant.country.capitalize() }} visiting {{ participant.stories[0].visit_country.capitalize() }} </small></h3>
                    <p> {{ ' '.join(participant.stories[0].story_text.split()[0:30]) }}... <span> <a href="{{ url_for('show_story', participant_URI = participant.participant_URI )}}"> read more</a> </span></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    
{% endblock %}

{% block page_right_content %}
{% endblock %}